# Dependencies
node_modules/
package-lock.json
yarn.lock

# Compiled output
dist/
build/
out/
uploads/
hls-output/
/frontend

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# IDE specific files
.vscode/
.idea/
*.sublime-*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# System files
.DS_Store
Thumbs.db